.partners{
    padding:48px 0 70px;
    background-color: #F5F5F7;

    @include media(992px){
        display: none;
    }
    .slic-slider > button{
        display: none;
    }
    
    .slick-slide > div{
        padding: 0 16px;
    }
    .slick-list{
        margin:0 -16px;
    }
    .slick-dots{
        bottom: -35px;
    }
    .partner{
        height:80px;
        outline: 0;

        img{
            width: 100%;
            height: 100%;
        }
    }
}