@import "../../design/styles/Sass/utils/variables";
@import "../../design/styles/Sass/utils/mixin";
@import "../../components/Basket/BasketContent/basketContent.scss";
@import "../../components/Basket/BasketTotal/basketTotal.scss";


.basket{
    background-color: #E5E5E5;
    padding-bottom: 170px;
    
    .basket-article{
        font-size: 20px;
        line-height: 28px;
        color: $clr-gray-2;
        padding: 40px 0;
    }
    .basket-body{
        @include flex($justify:space-between);
    }
}