

.details-slider{
    width: 48%;

    @include media(800px){
        width: 100%;
        margin-bottom: 130px;
    }

    .slick-thumb{
        display: flex!important;
        justify-content: flex-start;
        bottom: -125px!important;
        overflow-x: scroll!important;

        @include media(800px){
            bottom: -70px!important;
        }

        &::-webkit-scrollbar {
            display: none;
          }

        li{
        min-width: 70px;
        height: 85px;
        border: 1px solid transparent;
        overflow: hidden;
        padding: 5px;
        border-radius: 5px;
        
        &:not(:last-child){
            margin-right: 32px;
        }
        &.slick-active{
            border: 1px solid #e20074;
        }


        @include media(800px){
            width: 40px;
            height: 47px;
        }
        }
        img{
            width: 100%;
            height: 100%;
        };
    }
    .slick-slide img{
        width: 70%;
        margin: 0 auto;
    }
    .slick-slider button{
        display: block!important;
        z-index: 1;
    }
    .slick-arrow:before{
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border: 3px solid #2E3A59;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    }
    .slick-prev:before{
        transform: rotate(-135deg); 
    }
    .slick-prev{
        left: 0;
    }
    .slick-next{
        right: 0;
    }
}