.sliderProduct{
    @include flex(column);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 320px;
    padding: 20px;
    outline:0;
    cursor: pointer;

    img{
        width:90%;
        height: 170px;
        margin:0 auto;
        margin-bottom:24px;
    }
    .sliderProduct-body{
        @include flex(column);
        width:90%;

        h3{
            font-size: 16px;
            line-height:24px;
            color:$clr-gray-1;
            margin-bottom:18px;
        }
    }
    .slider-prices{
        @include flex(row);
        line-height: 24px;

        .price-now{
            color:$clr-gray-1;
        }
        .price-new{
            color:#DB2C66;
            margin-left: 8px;
        }
    }
}