.basket-list{
    @include flex(column);
    width: 70%;
    margin-top: 140px;

    @include media(992px){
        width: 100%;
        margin-top: 0;
    }



    .basket-item{
        position: relative;
        @include flex($align:center);
        background-color: #fff;
        padding: 12px 15px;
        border-radius: 8px;

        &:not(:last-child){
            margin-bottom: 32px;
        }
 
    @include media(700px){
       flex-direction: column;
    }
    }
    .item-img{
        width: 70px;
        height: 80px;
        margin-right: 32px;
        cursor: pointer;

        img{
            width: 100%;
            height: 100%;
        }

        @include media(700px){
            width: 100%;
            height: 150px;
            margin-right: 0;
            text-align: center;
            margin-bottom: 16px;

            img{
                width: 45%;
                height: 100%;
                margin-top: 10px;
            }
        }
    }

    .basket-content{
        @include flex(row,space-between,center);
        width: 100%;

        @include media(700px){
            text-align: center
        }
    }
    .item-info{
        @include  flex(column);
        width: 55%;

        @include media(700px){
            width: 100%;
        }

        h3{
            font-size:14px;
            line-height: 20px;
            font-weight: 600;
            color: $clr-gray-3;
            margin-bottom: 12px;
            padding: 0 12px;
            cursor: pointer;

            @include media(700px){
                color: $clr-gray-1;
            }
        }

        .item-labels{
            @include flex();
            @include media(700px){
                   flex-direction: column;
            }
        }
        .item-options{
            @include flex();
            margin-right: 32px;
            
            @include media(700px){
               margin-right: 0;
               flex-direction: row
            }
        }
        .option{
            @include flex($align:center);

            &:not(:last-child){
                margin-right: 15px;
            }
            p{
                font-size: 12px;
                line-height: 16px;
                color: $clr-gray-3;
                margin-right: 12px;
            }
            span{
                font-size: 12px;
                line-height: 16px;
                color: $clr-gray-1;

                &.color{
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .item-price{
            @include flex($align:center);
            

            .counter{
                display: none;
            }

            @include media(700px){
                justify-content: space-between;
                margin-top: 12px;

                .counter{
                display: flex;
                }
            }
        }
        .price{
            font-size: 16px;
            line-height: 20px;

            .old-price{
                color: $clr-gray-3;
                margin-right: 12px;
                text-decoration: line-through;
            }
            .new-price{
                color: $clr-danger;
            }
        }
    }

    .counter{
        @include flex($align:center);

        @include media(700px){
             display: none;       
        }
        span{
            font-size:20px;
            cursor: pointer;
            user-select: none;
        }
        p{
            font-size: 16px;
            line-height: 20px;
            color: #1D2123;
            margin: 0 30px;
        }
    }
    .delete-btn{
        font-size: 18px;
        cursor: pointer;
        transition: .5s;

        &:hover{
            color: $clr-danger;
        }

        @include media(700px){
            position: absolute;
            top: 15px;
            right: 25px;
            font-size: 30px;
        }
    }

}