.userForm{
    .form-group-list{
    @include flex($justify:space-between);
    flex-wrap: wrap;
    width: 100%;
    }
   .form-group{
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    
    label{
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        color: $clr-gray-2;
        margin-bottom: 8px;
    }
    .form-input{
        background-color: $clr-gray-6;
        border-radius: 8px;
        @include flex($align:center);
        height: 50px;

      *{
            border: 0;
        }
        .form-error{
            font-size: 14px;
            color: red;
            position: absolute;
            bottom: -20px;
            left: 0;
            background-color: pink;
            width: 100%;
            padding-left: 10px;
        }

        input,textarea,select{
            padding: 0;
            width: 100%;
            background-color: transparent;
            font-size: 14px;
            line-height: 20px;
            color: $clr-gray-1;
            height:100%;
        }
        input,textarea{
            padding: 16px 14px;
        }
    }
    &.agree{
        @include flex($align:center);
        font-size: 12px;
        line-height: 16px;
        color: $clr-gray-2;

        .form-input{
        background-color: #fff;
        }

        span{
        width: 24px;
        height: 24px;
        border-radius: 8px;
        border: 1px solid $clr-gray-5;
        margin-right: 8px;
        position: relative;
        @include flex(null,center,center);
        cursor: pointer;

        input{
           display: none;
        }
        svg{
            font-size: 18px;
            color: #fff;
            display: none;
        }

        &.checked{
            background-color: $clr-btn-green;
            svg{
                display: block;
            }
        }
        }
        a{
            color: #2D9CDB;
            margin-right: 4px;
        }
        }
   } 

   > button{
    @include flex($align:center);
    background-color: $clr-btn-green;
    padding: 16px 0;
    width: 200px;
    @include flex($justify:center);
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    border: 1px solid transparent;
    transition: .7s;
    margin: 0 auto;
    border-radius: 8px;

    &:hover{
        background-color: #fff;
        color: $clr-btn-green;
        border-color: $clr-btn-green;
    }
    svg{
        margin-right: 8px;
    }
}
//    material

.MuiFormControl-root{
    width: 100%;
}
}