.countCard{
    padding: 30px 0;

    .countCard-inner{
        height:100%;
        @include flex();
        gap: 20px;

        @include media(700px){
            flex-direction: column
        }
    }
    .side-card{
        @include flex(column);
        gap:20px;
        width: 49%;
        height:700px;

        @include media(700px){
            width: 100%;
        }
    }
    .card{
        position: relative;
        background: linear-gradient(180deg,#f2e4dd,#e9e9e9);
        height: 100%;
        padding:40px;

        h3{
            font-size: 25px;
            font-weight: 600;
        }

        p{
            font-size: 14px;
            margin: 20px 0;
        }
        a{
            color: blue;
            font-size: 15px;
            @include flex(null,null,center);

            svg{
                margin-left: 8px;
            }
        }

        img{
            position: absolute;
            bottom: 0;
        }
    }

    .phone-card img{
        left: 0;
        width:100%;
    }
    .smart-card img{
        right: 20px;
        width:50%;

        @include media(992px){
            width: 40%;
        }
        @include media(700px){
            width: 60%;
        }
    }
    .aksesuar-card img{
        right: 40px;
        width:40%;

        @include media(992px){
            width: 30%;
        }
        @include media(700px){
            width: 50%;
        }
    }
}