.productList-body{
    @include flex($justify:flex-start);
    flex-wrap: wrap;
   gap: 23px; 
   margin-bottom: 75px;

    .productList-item{
        width: calc((100% / 3) - 23px);
        margin-bottom: 32px;

        @include media(992px){
            width: calc((100% / 2) - 15px);
        }
    }
}