.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
    background-color:$clr-btn-green!important;
}
.MuiPagination-ul{
    width: fit-content!important;
    margin: 0 auto!important;
}