.basket-total{
    padding: 32px 24px;
    background-color: #fff;
    border-radius: 8px;
    width: 25%;

    @include media(992px){
        display: none
    }

    .total-header{
        border-bottom: 1px solid $clr-gray-3;
        margin-bottom: 16px;

        h3{
            font-size: 20px;
            line-height: 28px;
            color: #1D2123;
            margin-bottom: 16px;
        }
    }
    .total-price-list{
        @include flex(column);
        font-size: 16px;
        line-height: 24px;

        p{
            color: $clr-gray-1;
        }
        span{
            color: #1D2123;
        }
    }
    .total-price-item{
        @include flex(row,space-between,center);
        margin-bottom: 12px;
    }

    .total-footer{
        @include flex(row,space-between,center);
        font-size: 16px;
        line-height: 24px;

        p{
            color: #1D2123;
        }
        span{
            color: $clr-danger;
        }
    }
}