@import "../design/styles/Sass/utils/reset";
@import "../design/styles/Sass/utils/mixin";
@import "../components/Home/advantages/advantages.scss";
@import "../components//Home/banner/banner.scss";
@import "../components/Home/productSlide/productSlide.scss";
@import "../components/Home/card/card.scss";
@import "../components/Home/countCard/countCard.scss";
@import "../components/Home/advantages/advantages.scss";
@import "../components/Home/partner/partner.scss";
@import "../components/Nav/Header/header.scss";
@import "../components/Nav/Footer/footer.scss";
@import "../components/Nav/Header/subMenu/subMenu.scss";