@import "../utils/variables";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:$font-Euclid-Circular-A;
    overflow-x: hidden;
}
.container{
    margin: 0 auto;
    max-width: 90%;
}
a{
    text-decoration: none;
    color: #fff;
}
ul li,
ol li{
    list-style-type: none;
}
button,input,textarea,select,option{
    border: 0px;
    outline: 0px;
}
option{
    border: 1px solid red;
}
button{
    cursor: pointer;
    background-color: transparent;
}