// Colors
$clr-green:#2DD06E;
$clr-gray-5:#E0E0E0;
$clr-gray-4:#BDBDBD;
$clr-gray-3:#828282;
$clr-gray-2:#4F4F4F;
$clr-gray-1:#333333;
$clr-link-active:#00D68F;
$clr-btn-green:#2dd06e;




// Font
$font-Euclid-Circular-A: Karla, sans-serif;

// Breakpoint
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
