.search-list {
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #f5f5f5;
  border-top: 0;
  border-radius: 8px;
  padding: 25px;
  z-index: 100000000;
  max-height: 400px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
}

  &::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    outline: 0;
    border-radius: 2.5px;
}
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 2.5px;
}

  .history-list {
    @include flex(column);
  }
  .history-item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  .title {
    @include flex(null, space-between, center);

    h4 {
      font-size: 16px;
      line-height: 24px;
      color: $clr-gray-2;
      font-weight: 500;
      margin-bottom: 16px;
    }
    span {
      font-size: 12px;
      line-height: 16px;
      color: $clr-danger;
    }
  }

  .result-list {
    @include flex();
    flex-wrap: wrap;

    a {
      font-size: 14px;
      line-height: 20px;
      color: $clr-gray-2;
      margin-right: 16px;
      padding: 2px 6px;
      background-color: #edf1f7;
      margin-bottom: 16px;
      border-radius: 4px;
    }
  }

  .search-products-list{
    @include flex(column);

    li{
    padding: 10px;
    @include flex();
    cursor: pointer;

    &:not(:last-child){
        border-bottom: 1px solid $clr-gray-2;
    }

    img{
        width: 50px;
        height: auto;
        margin-right: 15px;
    }

    .search-product-info{
        @include flex(column);

        p{
            font-size: 18px;
            line-height: 24px;
            color: #333;
            font-weight: 500;
            margin-bottom: 3px;
        }
        span{
            font-size: 16px;
            line-height: 20px;
            color: $clr-gray-2;
        }
    }
}


  }
}
