.cards {
  .cards-inner {
    @include flex(null, space-between);

    @include media(992px){
      flex-direction:column;
    }
  }
  .card {
    width: 49%;
    height: 280px;
    border-radius: 8px;
    padding: 15px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(row, space-between, center);

    @include media(992px){
      width: 100%;
    }
  }
  .card-white {
    margin-right: 32px;

    .card-image img{
        width: 100%;
        height: 100%;
    }
  }
  .card-gray {
    background-color: rgb(218, 216, 216);

    .card-image img{
        width: 50%;
        height: 100%;
        
        &:last-child{
            position: absolute;
            right: 0;
            bottom: 30px;
            height: 50%;
            width: 45%;
        }
    }
    .card-text {
      text-align: center;
    }
  }

  .card-text {
    width:60%;

    h2 {
      color: rgb(34, 33, 33);
      margin-bottom: 10px;
    }
    h3 {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 15px;
        color: #000;
      }
    .card-info {
      margin-bottom: 20px;

      p {
        color: #000;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
      }
      span {
        font-size: 14px;
        color: $clr-gray-3;
      }
    }
    button {
      padding: 5px 25px;
      border: 1px solid $clr-gray-3;
      border-radius: 12px;
      font-size: 14px;
      color: $clr-gray-3;
    }
  }
  .card-image {
    position: relative;
    width: 35%;
    height: 100%;
    @include flex(null,null,center);
    gap: 20px;
  }
}
