@import "../../design/styles/Sass/utils/variables";
@import "../../design/styles/Sass/utils/mixin";
@import "../../components/Products/ProductsMain/Filter/filter.scss";
@import "../../components/Products/ProductsMain/ProductList/productList.scss";
@import "../../components/Products/ProductsMain/ProductList/ProductListFilter/productListFilter.scss";
@import "../../components/Products/ProductsMain/ProductList/ProductListBody/productListBody.scss";
@import "../../components/Others/ProductCard/ProductCard.scss";
@import "../../components/Others/Pagination/pagination.scss";


#products{
    .products-inner{
        @include flex($align:flex-start)
    }
}