.user-info-inner {
//   .user-info-inner {
//     @include flex();
//     flex-wrap: wrap;
//   }
  .form-group{
    width: 48%;
    @include media(600px){
        width: 100%;
    }
  }
  .select-box{
    width: fit-content;
  }
  .edit-btn{
    display: none;
  }
}
