.productProperty{
    @include flex(column);
    padding: 90px 0;

    .property-title{
        @include flex();
        padding-bottom: 16px;
        border-bottom: 1px solid $clr-gray-4;

        @include media(700px){
            justify-content: space-between;
        }
    }
    .property-btn{
        font-size: 20px;
        line-height: 28px;
        color: #BDBDBD;

        &:first-child{
            margin-right: 150px;
        }

        &.active{
            color: $clr-gray-2;
            font-weight: 600;
        }

        @include media(700px){
            width: 50%;
            text-align: center;
            position: relative;

            &:first-child{
                margin: 0;
            }

            &.active{
                &::after{
                    position: absolute;
                    content: " ";
                    width: 100%;
                    height: 4px;
                    background-color: $clr-btn-green;
                    bottom: -18px;
                    left: 0;
                }
            }
        }
    }
}