@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

.productSlider{
    padding:20px 0 30px;

    .productSlider-inner{
        @include flex(column,center);
        overflow: hidden;
        position: relative;
    }
    .productSlider-title{
        @include flex(row,space-between,center);
        margin-bottom:32px;
        color:$clr-gray-1;

        h3{
            font-size: 20px;
            font-weight: 600;
            line-height:28px;
        }
        .products-all{
            @include flex(row,null,center);
            line-height: 16px;

            @include media(992px){
                position: absolute;
                bottom: 5px;
                // left: 50%;
                width: 100%;
                @include flex($justify:center);
            }
            span{
                margin-right: 17px;
            }
        }
    }
    .slick-slider > button{
        display: none!important;
    }
    .slick-slide{
        width: 250px!important;
    }
    .slick-slide > div{
        padding:0 15px;
    }
    .slick-list{
       margin: 0 -10px;
       padding: 5px 0;

       @include media(992px){
        padding-bottom: 60px;
       }
    }
}