@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

.productSlider{
    padding:20px 0 30px;

    .productSlider-inner{
        @include flex(column,center);
        overflow: hidden
    }
    .productSlider-title{
        @include flex(row,space-between,center);
        margin-bottom:32px;
        color:$clr-gray-1;

        h3{
            font-size: 20px;
            font-weight: 600;
            line-height:28px;
        }
        .products-all{
            @include flex(row,null,center);
            line-height: 16px;

            span{
                margin-right: 17px;
            }
        }
    }
    .slick-slider > button{
        display: none!important;
    }
    .slick-slide{
        width: 250px!important;
    }
    .slick-slide > div{
        padding:0 15px;
    }
    .slick-list{
       margin: 0 -15px;
       padding: 5px 0;
    }
    .sliderProduct{
        @include flex(column);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: 100%;
        width: 18%;
        padding: 20px;
        outline:0;

        img{
            width:90%;
            height: 170px;
            margin:0 auto;
            margin-bottom:24px;
        }
        .sliderProduct-body{
            @include flex(column);
            width:90%;

            h3{
                line-height:24px;
                color:$clr-gray-1;
                margin-bottom:18px;
            }
        }
        .slider-prices{
            @include flex(row);
            line-height: 24px;

            .price-now{
                color:$clr-gray-1;
            }
            .price-new{
                color:#DB2C66;
                margin-left: 8px;
            }
        }
    }

}